{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
    <h1>
        Academic Notes Organizer
    </h1>
    <p>
        organize and manage your academic sources
    </p>
    <a href="{% url 'register' %}" class="btn">
        Get Started
    </a>
    </div>
</section>
<section class="features">
    <div class="card">
        <h3>Courses</h3>
        <p>
            keep all your courses organizes
        </p>
    </div>
    <div class="card">
        <h3>Notes</h3>
        <p>
            manage your notes and refrences
        </p>
    </div>
</section>
{% endblock %}