{% extends "base.html" %}
{% load static %}

{% block title %}
Create Course
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}

{% block content %}
<section class="course-container">
    <h1 class="course-title">Create Course</h1>
    <div class="course-card">
<form action="" method="post"  class="course-form">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn">Save Course</button>
</form>
</div>
</section>
{% endblock %}